script(src='https://cdn.jsdelivr.net/npm/quasar@2.11.1/dist/quasar.umd.js')
script(src='https://cdn.jsdelivr.net/npm/quasar@2.11.1/dist/lang/fr.umd.prod.js')
script(src='https://cdn.jsdelivr.net/npm/quasar@2.11.1/dist/icon-set/mdi-v6.umd.prod.js')
script
  include quasar.script.js
