html(lang='fr')
  head
    block head
      include ../partials/quasar.head.pug
  body
    block body
      div#q-app
        q-layout(view="lHh Lpr lFf")
          q-page-container
            q-page.full-height.flex.column.no-wrap.overflow-auto.justify-center.items-center(padding)
              block content
    block script
      include ../partials/quasar.script.pug
