<!DOCTYPE html>
<html lang="fr" data-theme="synthwave">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  {{> assets/head }}
</head>

<body>
  <div class="min-h-screen bg-base-200 flex items-center p-5" style="background-image: url('/static/img/5172658.jpg')">
    <div class="card mx-auto w-full max-w-5xl shadow-md">
      {{{ body }}}
    </div>
  </div>
  {{> assets/scripts }}
</body>

</html>