extends layouts/authenticate

block content
  q-card.connexion
    q-toolbar.bg-primary.text-white
      q-toolbar-title Connexion
    form#login.column.q-mb-xs(action='/interaction/' + uid + '/confirm' method='POST' autocomplete='off')
      .q-pa-md
        small Vous allez être redirigé sur !{new URL(params.redirect_uri).host}
        .row.q-py-sm
          if details.missingOIDCScope && details.missingOIDCScope.length > 0
            p
              strong Requested access:
            ul
              each scope in details.missingOIDCScope
                li !{msgMap.has(scope) ? msgMap.get(scope) : scope}
        .row.q-py-sm
          pre(style='white-space: pre-wrap;') !{JSON.stringify(params, null, 2)}
          pre(style='white-space: pre-wrap;') !{JSON.stringify(session, null, 2)}
      q-toolbar
        q-btn(href='/interaction/' + uid + '/abort' label='Annuler' flat)
        q-space
        q-btn(type='submit' color='primary') Continuer
